<div class="title">
  <h1>Reactive Form</h1>
</div>

<div class="form">
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <input class="input-box" type="text" name="firstname" placeholder="Firstname" formControlName = "firstname"><br>
    <input class="input-box" type="text" name="lastname" placeholder="Lastname" formControlName = "lastname"><br>
    <input class="input-box" type="text" name="email" placeholder="Email Address" formControlName = "email"><br>
    <input class="input-box" type="text" name="contact" placeholder="Contact" formControlName = "contact"><br>
    <input class="btn" type="submit" value="Click Here!">
  </form>
</div>

<div class="output">
  <h1>Inputted Data:</h1>
  <p>Firstname: {{firstname}}</p>
  <p>Lastname: {{lastname}}</p>
  <p>Email: {{email}}</p>
  <p>Contact: {{contact}}</p>
  </div>
  

  <div class="title">
    <h1>Reactive Form Validation</h1>
  </div>
  

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <label for="firstname">Firstname:</label>
    <input class="input-box" type="text" id="firstname" formControlName = "firstname"><br>
    <label for="lastname">Lastname:</label>
    <input class="input-box" type="text" id="lastname" formControlName = "lastname"><br>
    <label for="contact">Contact:</label>
    <input class="input-box" type="text" id="email" formControlName = "contact"><br>
      <label for="email">Email:</label>
      <input class="input-box" type="text" id="email" formControlName = "email"><br>
      <div *ngIf="loginForm.controls['email'].invalid $$ loginForm.controls['email'].touched" class="error">
        Email is required and must be a valid email address.
      </div>
    </div>
      <button class="btn" type="submit" [disabled]="loginForm.invalid">Submit</button>
    </form>

  
<router-outlet/>